.mainContainer{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: "Outfit";

    color: white;
    font-size: 14px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    
    .part{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        gap: 1rem;

        .section{
            display: flex;
            flex-direction: column;
            
            
            .container{
                margin-top: 0.5rem;
                background-color: rgba(203, 230, 211, 0.667);
                box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                padding: 1.5rem 0.5rem 1.5rem 0.5rem;
                gap: 0.5rem;

                >div{
                    display: grid;
                    gap: 0.5rem;

                    &.ingredient{
                        grid-template-columns: 1fr 20%;
                    }
                    &.step{
                        grid-template-columns: 5% 1fr 15%;
                    }

                }
            }
        }
    }

}

label{
    color: black;
    text-shadow: none;
    font-size: 20px;
}

button{
    all: unset;
    background-color: rgba(109, 126, 113, 0.2);
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        background-color: rgba(109, 126, 113, 0.25);
    }
    i{
        text-shadow: none;
        font-size: 1.5rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        color: rgb(109, 126, 113);
    }

}

input{
    all: unset;
    border-radius: 4px;
    &::-webkit-inner-spin-button,::-webkit-outer-spin-button{
        -webkit-appearance: none;
    }
    
}

input.light{
    text-align: center;
    padding: 0.2rem;
    background-color: rgba(109, 126, 113, 0.5);
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color: rgba(109, 126, 113, 0.6);
    }
}
input.dark{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    background-color: rgb(109, 126, 113);
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color: rgba(109, 126, 113, 0.9);
    }
}
input.stepNumber{
    pointer-events: none;
}

input.duration{

    
    // &::-webkit-datetime-edit-fields-wrapper {
    //     display: flex;
    //     justify-content: center;
    //   }
    // &::-webkit-datetime-edit-hour-field {
    // background-color: #f2f4f5;
    // border-radius: 15%;
    // padding: 19px 13px;
    // }
      
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
 }

